---
import "../styles/global.css";
import BusinessCard from "../components/BusinessCard.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <div
    class="flex items-center justify-center h-screen gap-4 max-sm:flex-col gap-16 sm:gap-32"
  >
    <section>
      <BusinessCard />
    </section>
    <section class="bg-blue-100">
      <div class="grid">
        <div>1</div>
        <div>2</div>
        <div>3</div>
        <div>4</div>
      </div>
    </section>
  </div>
</Layout>
