---
import Layout from "../layouts/Layout.astro";
import TimeLineItem from "../components/TimeLineItem.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <ul
      class="timeline timeline-snap-icon max-md:timeline-compact timeline-vertical">
      <TimeLineItem title="Myfactory / Forterro" timeframe="2019-heute" first={true}>
        <i class="fa-solid fa-briefcase" slot="icon"></i>
        <Fragment slot="body">Full Stack Software Engineer</Fragment>
      </TimeLineItem>
      <TimeLineItem title="BS Informatik" timeframe="2018">
        <i class="fa-solid fa-graduation-cap" slot="icon"></i>
        <Fragment slot="body">Hochschule Rosenheim<br />Abschlussarbeit: AAA</Fragment>
      </TimeLineItem>
      <TimeLineItem title="Abitur" timeframe="2009">
        <i class="fa-solid fa-school" slot="icon"></i>
        <Fragment slot="body">Staffelsee-Gymnasium Murnau</Fragment>
      </TimeLineItem>
      <TimeLineItem title="Geburt" timeframe="1990" last={true}>
        <i class="fa-solid fa-baby" slot="icon"></i>
        <Fragment slot="body">Weilheim in Oberbayern</Fragment>
      </TimeLineItem>
    </ul>
  </main>
</Layout>
<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 1.25rem;
    line-height: 1.6;
  }
</style>
