---
import Layout from "../layouts/Layout.astro";
import TimeLineItem from "../components/TimeLineItem.astro";
import Project from "../components/Project.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <ul
      class="timeline timeline-snap-icon max-md:timeline-compact timeline-vertical">
      <TimeLineItem title="Myfactory / Forterro" timeframe="2019-heute" first={true}>
        <i class="fa-solid fa-briefcase" slot="icon"></i>
        <Fragment slot="body">Full Stack Software Engineer</Fragment>
      </TimeLineItem>
      <TimeLineItem title="BS Informatik" timeframe="2018">
        <i class="fa-solid fa-graduation-cap" slot="icon"></i>
        <Fragment slot="body">Hochschule Rosenheim<br />Abschlussarbeit: AAA</Fragment>
      </TimeLineItem>
      <TimeLineItem title="Abitur" timeframe="2009">
        <i class="fa-solid fa-school" slot="icon"></i>
        <Fragment slot="body">Staffelsee-Gymnasium Murnau</Fragment>
      </TimeLineItem>
      <TimeLineItem title="Geburt" timeframe="1990" last={true}>
        <i class="fa-solid fa-baby" slot="icon"></i>
        <Fragment slot="body">Weilheim in Oberbayern</Fragment>
      </TimeLineItem>
    </ul>

    <section class="flex flex-col gap-2">
    <h2>Projekte:</h2>
    <ul class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <Project title="Myfactory" type="professionell" href="/">
        <p slot="body" class="text-sm">eins</p>
        <Fragment slot="technologies">Test 1</Fragment>
      </Project>
      <Project title="homelab" type="privat" href="/">
        <p slot="body" class="text-sm">zwei</p>
        <Fragment slot="technologies">Test 2</Fragment>
      </Project>
    </ul>
  </section>

  </main>
</Layout>
<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 1.25rem;
    line-height: 1.6;
  }
</style>
