---
import "../styles/global.css";
import BusinessCard from "../components/BusinessCard.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div
    class="flex items-center justify-center h-screen max-sm:flex-col gap-16 sm:gap-32"
  >
    <div class="w-full max-w-lg p-4">
      <BusinessCard />
    </div>
    <div class="bg-blue-100">
      <div class="grid">
        <div>1</div>
        <div>2</div>
        <div>3</div>
        <div>4</div>
      </div>
    </div>
  </div>
</Layout>
