---
interface Props {
	title: string;
	timeframe: string;
    first?: boolean;
    last?: boolean;
}

const { timeframe, title, first, last } = Astro.props;
---
<li>
    { !first && <hr class="bg-primary" />}
    <div class="timeline-middle">
        <slot name="icon"/>
    </div>
    <div class="timeline-end pt-1 pb-8 px-4 text-sm">
      <time class="font-mono italic text-sm">{timeframe}</time>
      <div class="text-lg font-black">{title}</div>
      <slot name="body"/>
    </div>
    { !last && <hr class="bg-primary" />}
  </li>